<p id="notice"><%= notice %></p>

<p>
  <strong>Sido:</strong>
  <%= @conman.sido %>
</p>

<p>
  <strong>Gusigun:</strong>
  <%= @conman.gusigun %>
</p>

<p>
  <strong>Election:</strong>
  <%= @conman.election %>
</p>

<p>
  <strong>Names:</strong>
  <%= @conman.names %>
</p>

<%= link_to 'Edit', edit_conman_path(@conman) %> |
<%= link_to 'Back', conmen_path %>
